{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper max-width">

		<div class="maps-distance" id="map-canvas"/></div>
		<div class="maps-elevation"></div>

		<article class="post-type-{{post.post_type}} maps-tease-mod" id="post-{{post.ID}}">

			<nav class="post-nav">
				<ol>
					{% for item in weeks %}
					<li class="post-category"><a href="/">{{item.name}}</a></li>
					{% endfor %}
				</ol>
			</nav>
			{% for post in posts %}
				<header class="maps-post-header max-width">
					<h2 class="maps-dateline">{{post.post_date_range}}</h2>	
					<h1 class="maps-post-title">{{post.title}}</h1>
					<div class="maps-post-meta">
						<span class="maps-post-meta-item">San Francisco, CA{% if post.from_location %}{{TimberTerm(post.from_location)}}{% endif %}</span> 
						<span class="maps-post-meta-item">65 miles{% if post.post_mileage %}{{post.post_mileage}}{% endif %}</span>
						<span class="maps-post-meta-item">Davis, CA{% if post.to_location %}{{TimberTerm(post.to_location)}}{% endif %}</span>
					</div>
					<div class="maps-post-story">
						{{post.content}}
					</div>
				</header>
			{% endfor %}
		</article>

	</div> <!-- /content-wrapper -->

{% endblock %}